<input type="hidden" value="new" name="submission_id" id="submission_id" class="value-input"/>

<input type="hidden" value="" name="cladename[abbreviation]" id="abbreviation" class="value-input"/>

<input type="button" id="character-window-button" value="Special characters viewer" class="button" style="margin-left:30px"/>
<div id="new-cladename-window">
  <ul id="new-cladename-tabs">
    <li class="active-tab tab" id="tab1">Clade Name</li>

    <li id="tab3" class="tab">Definition Type &amp; Specifiers</li>
    <li id="tab4" class="tab">Definition</li>
    <li id="spinner" style="border:none;background:none;display:none;"><img src="/images/ajax-loader.gif"/>&nbsp;&nbsp;saving...
    </li>
  </ul>

  <div id="new-cladename-content">

    <div id="tab1-div" class="container-fluid">
        <div class="form-group col-sm-12">
          <label for="new_name">Clade Name:</label>
          <input data-bind="value: name" type="text" id="new_name" name="cladename[name]" value="" class="value-input form-control"/>
          &nbsp;&nbsp;<span id="status"></span></td>
        </div>
      <div class="form-group col-sm-12">
        <label>Definitional Author(s)</label>
        <div>
          <%= render 'shared/add_author', { author_type: 'author' } %>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label>Definitional Citation</label>
        <!-- ko ifnot: citations['definitional'] -->
          <p class="form-contol-static help-block">
            <em>Please add a reference</em>
            <button class="submit_button" data-bind="click: function(d, e){ pr.ba.addCitation('definitional', d.citations.definitional, e) }">Add reference</button>
          </p>
        <!-- /ko -->
        <!-- ko if: citations['definitional'] -->
          <%= render 'shared/citation_table', {
              citation: "citations.definitional",
              citation_for: "definitional",
              include_actions: true,
              is_single: true } %>
        <!-- /ko -->
      </div >
      <div class="form-group col-sm-12">
        <div id="new-preexisting-box" class="">
          <strong>
            <label>
              <input data-bind="checked: preexisting" type="checkbox" id="new_preexisting" class="value-input" name="cladename[preexisting]"/>
              &nbsp; Pre-existing Name
            </label>
          </strong>
          <div id="new-preexisting-table" data-bind="visible: preexisting">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="new_preexisting_code">Code:</label>
                <select data-bind="value: preexisting_code" name="cladename[preexisting_code]" id="new_preexisting_code" class="value-input form-control">
                  <option value="ICBN">ICN - the botanical code</option>
                  <option value="ICZN">ICZN - the zoological code</option>
                  <option value="ICNB">ICNB - the bacterial code</option>
                  <option value="ICTV">ICTV - the virus code</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label>Nominal Author(s):</label>
                <!-- ko ifnot: citations['preexisting'] -->
                  <p class="form-contol-static help-block">
                    <em>Please add a reference</em>
                    <button class="submit_button" data-bind="click: function(d, e){ pr.ba.addCitation('preexisting', d.citations.preexisting, e) }">Add reference</button>
                  </p>
                <!-- /ko -->
                <!-- ko if: citations['preexisting'] -->
                  <a data-bind="click: function(d,e){ pr.ba.editCitation('preexisting', d.citations.preexisting, e); }"
                     href="#"
                     id="new-primary-phylogeny-reference-add">[Edit reference]</a>
                  <p class="form-control-static" data-bind="text: citations['preexisting'].displayAuths"></p>
                <!-- /ko -->
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="new_comments">Comments:</label>
        <textarea data-bind="value: comments" name="cladename[comments]" class="value-input form-control" id="new_comments" rows="5" cols="40"></textarea>
      </div>
    </div><!-- end tab1-div -->

    <div style="display:none" id="tab2-div"></div><!-- end tab2-div -->

    <div id="tab3-div" style="display:none;margin-left:5px;">
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="new_type">Definition Type:</label>
            <select data-bind="value: clade_type" name="cladename[clade_type]" id="new_type" class="value-input form-control">
              <option value="minimum-clade_standard">Minimum Clade - Standard</option>
              <option value="minimum-clade_directly_specified_ancestor">Minimum Clade - Directly Specified Ancestor <span class="required">(Rare)</span></option>
              <option value="maximum-clade_standard">Maximum Clade - Standard</option>
              <option value="apomorphy-based_standard">Apomorphy Based - Standard</option>
              <option value="minimum-crown-clade">Minimum Crown Clade</option>
              <option value="maximum-crown-clade">Maximum Crown Clade</option>
              <option value="apomorphy-modified_crown_clade">Apomorphy Modified Crown Clade</option>
              <option value="maximum-total-clade">Maximum Total Clade</option>
              <option value="crown-based_total_clade">Crown Based - Total Clade</option>
            </select>
            <div id="definition_type_definitions" class="help-block" style="">
              <p id="minimum-clade_standard_def" style="" >A minimum-clade definition associates a name
                with the smallest clade that contains two or more internal specifiers. Specifiers can
                be species or specimens.</p>
              <p id="minimum-clade_directly_specified_ancestor_def" style="display: none;" >A directly-specified-ancestor definition is a special case of
                the minimum-clade definition in which the ancestor in which the clade originated is
                specified directly rather than indirectly through its descendants.</p>
              <p id="maximum-clade_standard_def" style="display: none;" >A maximum-clade associates a name with the largest clade
                that contains one or more internal specifiers but does not contain one or more
                external specifiers.</p>
              <p id="apomorphy-based_standard_def" style="display: none;" >An apomorphy-based definition associates a name with a
                clade originating in the first ancestor to evolve a specified apomorphy that was
                inherited by one or more internal specifiers.</p>
              <p id="minimum-crown-clade_def" style="display: none;" >A minimum crown clade definition is a minimum clade
                where all of the internal specifiers are extant.</p>
              <p id="maximum-crown-clade_def" style="display: none;" >A maximum crown clade definition is a maximum clade
                where at least one of the internal specifiers are extant.</p>
              <p id="apomorphy-modified_crown_clade_def" style="display: none;" >An apomorphy-modified-crown clade is a minimum-clade
                modified by the use of an apomorphy to define the name of a crown clade.</p>
              <p id="maximum-total-clade_def" style="display: none;" >A maximum total-clade definition is maximum clade where
                least one of the internal specifiers and all of the external specifiers are extant.</p>
              <p id="crown-based_total_clade_def" style="display: none;" >A crown based total clade is the total clade of a crown
                clade</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" id="specifiers-table-holder">
            <label>Clade Specifiers</label>
            <!-- ko if: specifiers().length > 0 -->
              <table id="specifiers-table" class="specifiers-table sortable-table form-control-static">
                <thead>
                <th style="width:100px">Type</th>
                <th style="width:200px">Kind</th>
                <th style="width:200px">Name</th>
                <th style="width:200px">Author(s)</th>
                <th>Publication Year</th>
                </thead>
                <tbody data-bind="foreach: specifiers()">
                <tr data-bind="css: { 'even-row': $index() % 2 == 0, 'odd-row': $index() % 2 == 1 }">
                  <td data-bind="text: specifier_type"></td>
                  <td>
                    <span data-bind="text: specifier_kind"></span>
                  </td>
                  <td data-bind="text: specifier_name"></td>
                  <td data-bind="text: displayAuths, attr: { title: displayAuths }"></td>
                  <td data-bind="text: specifier_year"></td>
                  <td class="action-cell">
                    <input class="submit_button" data-bind="click: pr.ba.editSpecifier" type="button" value="Edit"/>&nbsp;
                    <input class="submit_button" data-bind="click: pr.ba.deleteSpecifier" type="button" value="Delete"/>
                  </td>
                </tr>
                </tbody>
              </table>
              <!--            <span class="table-controls">-->
              <!--              <a href="#" data-bind="click: specifiers.moveFirst">First</a>-->
              <!--              <a href="#" data-bind="click: specifiers.movePrevious">Previous</a>-->
              <!--              <a href="#" data-bind="click: specifiers.moveNext">Next</a>-->
              <!--              <a href="#" data-bind="click: specifiers.moveLast">Last</a>-->
              <!--              Page-->
              <!--              <span data-bind="text: specifiers().currentPage" min="1"></span>-->
              <!--               of <span data-bind="text: specifiers().pageCount"></span>-->
              <!--            </span>-->
              <div class="table-controls">
                <button data-bind="click: pr.ba.addSpecifier" type="button" class="submit_button mw-25">Add specifier</button>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: specifiers().length > 0 -->
              <p class="help-block form-control-static">
                <em>Please add a specifier</em>
                <button data-bind="click: pr.ba.addSpecifier" type="button" class="submit_button mw-25">Add specifier</button>
              </p>
            <!-- /ko -->

          </div>
        </div>
      </div>
    </div><!-- end tab3-div -->

    <div id="tab4-div" style="display:none;margin-left:5px;clear:both;">

      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="new_abbreviation">Abbreviated Definition:</label>
            <p class="form-control-static" data-bind="html: abbreviation" id="new_abbreviation"></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="new_definition">Verbatim Definition:</label>
            <textarea data-bind="value: definition" placeholder="Enter definition exactly as stated in the publication. (Do not include a statement of the definition type or an abbreviated definition)" name="cladename[definition]" id="new_definition" rows="8" class="value-input form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label>Primary Reference Phylogeny</label>
            <!-- ko ifnot: citations['primary_phylogeny'] -->
              <p class="form-contol-static help-block">
                <em>Please add a reference</em>
                <button class="submit_button" data-bind="click: function(d, e){ pr.ba.addCitation('primary_phylogeny', d.citations.primary_phylogeny, e) }">Add reference</button>
              </p>
            <!-- /ko -->
            <!-- ko if: citations['primary_phylogeny'] -->
              <%= render 'shared/citation_table', {
                  citation: "citations.primary_phylogeny",
                  citation_for: "primary_phylogeny",
                  include_actions: true,
                  is_single: true } %>
            <!-- /ko -->
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label>Additional Reference Phylogenies</label>
            <div id="phylo-citations" class="citations-table">
              <!-- ko if: citations.phylogeny().length > 0 -->
                <%= render 'shared/citation_table', {
                      is_single: false,
                      include_actions: true,
                      citation_for: "phylogeny",
                      citation: "citations.phylogeny.currentPageData",
                      include_pagination: true } %>
              <!-- /ko -->
              <!-- ko ifnot: citations.phylogeny().length > 0 -->
                <p class="help-block form-control-static">
                  <em>No additional reference phylogenies</em>
                  <button class="submit_button" data-bind="click: function(d,e){ pr.ba.addCitation('phylogeny', d.citations.phylogeny, e); }">Add reference</button>
                </p>
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="qualifying_clause_input">Qualifying Clause</label>
            <textarea class="form-control" id="qualifying_clause_input" rows="3" data-bind="value: qualifying_clause" name="cladename[qualifying_clause]"></textarea>
          </div>
        </div>
      </div>



          <!--<p>Reference for Phylogenetic Definition Citation:</p>-->
          <!--<div class="citations-table" id="def-citation">-->
            <!--<table class="sortable-table" id="description">-->
              <!--<thead>-->
              <!--<tr style="background-color:white;">-->
                <!--<th style="width:200px;">Author(s)</th>-->
                <!--<th>Year</th>-->
                <!--<th style="width:200px;">Type</th>-->
                <!--<th style="width:200px;">Title</th>-->
                <!--<th colspan="2">actions</th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody data-bind="foreach: citations.description">-->
              <!--<tr id="clade-citation" class="odd-row">-->
                <!--<td style="max-width:200px" data-bind="text: authors"></td>-->
                <!--<td data-bind="text: year"></td>-->
                <!--<td data-bind="text: citation_type"></td>-->
                <!--<td style="max-width:200px" data-bind="text: title"></td>-->
                <!--<td>-->
                  <!--<input data-bind="click: function(d,e){pr.ba.editCitation('description',d,e)}" type="button" class="def-citation submit_button edit" value="edit"/>-->
                <!--</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->
    </div><!-- end tab4-div -->

    <div id="save-and-reference" class="container-fluid">
      <div class="row">
        <div class="form-group col-sm-12">
          <label>Name String:</label>
          <p class="form-control-static" data-bind="text: name_string" id="new_name_string"></p>
        </div>
        <div class="form-group col-sm-12">
          <label>Registration #:</label>
          <p class="form-control-static temp-id"></p>
        </div>
      </div>
    </div>


    <!-- floatable window -->
    <div id="new-cladename-synonyms" class="float-window" style="display:none;">
      <div class="window-title-bar">
        <div style="margin:8px 10px 0px 10px;">
          Synonyms List
          <div class="close-button" title="close window" onclick="jQuery('#new-cladename-synonyms').fadeOut();">X</div>
        </div>
      </div>
      <div class="float-window-content" id="synonyms-window-content">
        <%= render :partial => 'shared/synonyms_table' %>
      </div>
    </div>
    <%#= draggable_element "new-cladename-synonyms" %>

  </div>
</div>
<div  style="margin-left:30px; margin-bottom: 20px; float:left;clear:both;max-width:800px;min-width:600px;" id="new-cladename-save-submit">
  <input type="button" value="Save" class="button" style="border:1px solid #999"/>&nbsp;&nbsp;<input style="border:1px solid #999" type="button" value="Submit for review" class="button"/>
</div>
<div style="margin-left:30px;float:left;clear:both;max-width:800px;min-width:600px;">
  <%= render :partial => 'shared/status_change_list' %>
</div>