- unless citation.nil?
  %tr
    %td.name
      %p= "#{citation_type} Citation"
  %tr
    %td{colspan: "2"}
      .accordion
        %h3
          &nbsp;
          = display_citation citation
        %div
          %table
            -['citation_type', 'title', 'section_title', 'authors', 'editors', 'series_editors', 'publisher', 'year', 'city', 'edition', 'volume', 'pages', 'keywords', 'url', 'doi'].each do |cit|
              - if (!citation[cit].nil? && !citation[cit].empty? && !citation[cit].is_a?(Array)) || (citation[cit].is_a?(Array) && has_authors?(citation[cit]))
                %tr
                  %td
                    %span
                      %span{style: "font-weight: bold;"}= cit.humanize + ': '
                      = format_output(cit, citation.delete(cit))