.sortable-table-div
  = render :partial => 'shared/sortable_table_loading_message'
  %table#user_submissions_table.sortable-table
    %tr.sortable-table-header-row
      %th.sortable.table-header-link=table_sort_header('name')
      %th.sortable.table-header-link=table_sort_header('clade_type', 'Type')
      %th.sortable.table-header-link=table_sort_header('submitted_by', 'Submitter')
      %th.sortable.table-header-link=table_sort_header('submitted_at', 'Submission status')
      %th{:colspan => 3}
    %tbody
      -@subs.each do |sub|
        %tr{:class => cycle('odd-row','even-row'), :id => sub.id, :title => "click to open submission"  }
          %td= sub.name
          %td= sub.clade_type
          %td{ :style => 'width:180px'}= sub.user.nil? ? "" : sub.user.last_name + ', ' + sub.user.first_name
          %td{ :style => 'width:180px'}= sub.submitted_at
          %td{ :style => 'width:40px'}
            =form_for sub, :url => submission_path(sub.id), :html => {:method => :get } do |s|
              %input.submit_button{:type => 'submit', :value => 'review'} 
          -if current_user.is_admin? 
            %td{:style => 'width:40px'}
              = link_to "Edit", "/submissions/" + sub.id.to_s + "/edit", class: "button"
          %td{ :style => 'width:40px'}
            =form_for sub, :url => submission_path(sub.id), :html => {:method => :delete } do |s|
              %button.submit_button{:type => 'submit', :title => 'click to delete'} Delete
      %tr
        %td{:colspan => 5, :style => 'text-align:center;padding:1px;border:none;'}
          =will_paginate @subs, renderer: RemoteLinkRenderer,:params => {:controller => :submissions, :action => nil}
      %tr
        %td{:colspan => 5, :style => 'text-align:center;padding:1px;border:none;'}
          =page_entries_info @subs, {:model => 'clade names'}