%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h3 Phyloregnum Account Activated
    %p The following user has been enabled to use www.phyloregnum.org
    %dl
      %dt First name
      %dd= @user.first_name
      %dt Last name
      %dd= @user.last_name
      %dt Email
      %dd= @user.email
      %dt Institution
      %dd= @user.institution
    %p
      If this was a mistake
      %a{href: "www.phyloregnum.org/admin?user_id=#{@user.id}"} click here to view and disable the user
      . Or navigate to https://www.phyloregnum.org/admin?user_id=
      = @user.id
      .